
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="keywords" content="" />
<meta name="description" content=" " />
<title>奇·趣事--我的网站</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="__INDEX__/img/favicon.ico" />
<link rel="stylesheet" type="text/css" media="all" href="__INDEX__/css/style.css" />
<link rel="stylesheet" type="text/css"  href="__INDEX__/css/font-awesome.min.css"/>
<script type="text/javascript" src="__INDEX__/js/jquery.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="__INDEX__/js/yycm.js"></script>
</head>
<body>
  <!--头部文件-->
{include file="common/header"/}
<div class="wrap">
  <div class="main">
    <div class="map1"> <span> 当前位置：<a href="/">首页</a>&nbsp;>&nbsp;<a href="/funny/">奇·趣事</a>
      <h1>文章分类：奇·趣事</h1>
      </span> </div>
    <div class="block">
      <h2><span class="category"> <a href="/funny/" rel="category tag" >奇·趣事</a> <i class="fa fa-caret-right"></i></span><a href="/funny/2015-07-05/156.html"  target="_ablank" > 如果不设置或者没有标题图片，就不会显示前面的图片了！ </a></h2>
      <div class="clear"></div>
      
      <div class="preview"> 如果不设置或者没有标题图片，就不会显示前面的图片了！如果不设置或者没有标题图片，就不会显示前面的图片了！如果不设置或者没有标题图片，就不会显示前面的图片了！如果不设置或者没有标题图片，就不会显示前面的图片了！如果不设置或者没有标题图片，就不会显示前面的图片了！如果不设置或者没有标题图片，就不会显示前面的图片了！如果不设置或者没有标题图片，就不会显示前面的图片了！如果不设置或者没有标题图片，就不会显示前面的图片了！…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 2015-07-05 </span><span><i class="fa fa-comment-o"></i> <a href="/funny/2015-07-05/156.html#comments" class="ds-thread-count" data-thread-key="156">暂无评论</a> </span><span><i class="fa fa-eye"></i> 495 </span><span> <i class="fa fa-tags"></i></span><span class="more"><a href="/funny/2015-07-05/156.html" title="如果不设置或者没有标题图片，就不会显示前面的图片了！">阅读详情</a></span> </div>
    </div><div class="block">
      <h2><span class="category"> <a href="/funny/" rel="category tag" >奇·趣事</a> <i class="fa fa-caret-right"></i></span><a href="/funny/201406/98.html"  target="_ablank" > 用线条创作的微型雕塑 令人惊叹不已 </a></h2>
      <div class="clear"></div>
      <div class="viewimg"> <a href="/funny/201406/98.html" title="用线条创作的微型雕塑 令人惊叹不已" target="_ablank" class="ipic"> <img src="__INDEX__/img/e21724887c7793fd4b379f86fbf3a0d0.jpg" alt="用线条创作的微型雕塑 令人惊叹不已" class="thumbnail" /> <span class="shine">&nbsp;</span></a> </div>
      <div class="preview">       在生活中我们经常可以看见不同的雕塑，有石雕、木雕、甚至纸雕，不过一般都是大中型的，很少见到微型雕塑。今天阿里百秀小编就给大家介绍一组用线条创作出来的微型雕塑作品，小…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 2014-06-17 </span><span><i class="fa fa-comment-o"></i> <a href="/funny/201406/98.html#comments" class="ds-thread-count" data-thread-key="98">暂无评论</a> </span><span><i class="fa fa-eye"></i> 324 </span><span> <i class="fa fa-tags"></i><a href='/e/tags/?tagname=%E7%94%A8%E7%BA%BF' target='_blank' rel='tag'>用线</a></span><span class="more"><a href="/funny/201406/98.html" title="用线条创作的微型雕塑 令人惊叹不已">阅读详情</a></span> </div>
    </div><div class="block">
      <h2><span class="category"> <a href="/funny/" rel="category tag" >奇·趣事</a> <i class="fa fa-caret-right"></i></span><a href="/funny/201406/96.html"  target="_ablank" > 美国犹他州沙漠的罕见花海 </a></h2>
      <div class="clear"></div>
      <div class="viewimg"> <a href="/funny/201406/96.html" title="美国犹他州沙漠的罕见花海" target="_ablank" class="ipic"> <img src="__INDEX__/img/7a781a6fee17cafa4503fdb574db58ab.jpg" alt="美国犹他州沙漠的罕见花海" class="thumbnail" /> <span class="shine">&nbsp;</span></a> </div>
      <div class="preview">       美国西部的犹他州这片地方常年干旱，因寸草不生而闻名。在这片极具挑战性的环境下，春天来临，有水的时候，蝎子草、仙人掌花，迅速的吸取水分，极速的繁殖开来，使这些荒地一夜之间开…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 2014-06-17 </span><span><i class="fa fa-comment-o"></i> <a href="/funny/201406/96.html#comments" class="ds-thread-count" data-thread-key="96">暂无评论</a> </span><span><i class="fa fa-eye"></i> 101 </span><span> <i class="fa fa-tags"></i></span><span class="more"><a href="/funny/201406/96.html" title="美国犹他州沙漠的罕见花海">阅读详情</a></span> </div>
    </div><div class="block">
      <h2><span class="category"> <a href="/funny/" rel="category tag" >奇·趣事</a> <i class="fa fa-caret-right"></i></span><a href="/funny/201406/94.html"  target="_ablank" > 热带雨林里的魔法仙境 让人迷失的伊甸园 </a></h2>
      <div class="clear"></div>
      <div class="viewimg"> <a href="/funny/201406/94.html" title="热带雨林里的魔法仙境 让人迷失的伊甸园" target="_ablank" class="ipic"> <img src="__INDEX__/img/890143479047ae9013d1d75008b19a06.jpg" alt="热带雨林里的魔法仙境 让人迷失的伊甸园" class="thumbnail" /> <span class="shine">&nbsp;</span></a> </div>
      <div class="preview">       说到伊甸园，大家估计认为那只是存在《圣经》中，现实世界中是不可能存在的，其实不然。在墨西哥的热带雨林深处有一片不被人知的古典建筑和森林木雕，各式各样，那里就像一片自然…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 2014-06-17 </span><span><i class="fa fa-comment-o"></i> <a href="/funny/201406/94.html#comments" class="ds-thread-count" data-thread-key="94">暂无评论</a> </span><span><i class="fa fa-eye"></i> 54 </span><span> <i class="fa fa-tags"></i><a href='/e/tags/?tagname=%E8%AE%A9%E4%BA%BA' target='_blank' rel='tag'>让人</a></span><span class="more"><a href="/funny/201406/94.html" title="热带雨林里的魔法仙境 让人迷失的伊甸园">阅读详情</a></span> </div>
    </div><div class="block">
      <h2><span class="category"> <a href="/funny/" rel="category tag" >奇·趣事</a> <i class="fa fa-caret-right"></i></span><a href="/funny/201406/92.html"  target="_ablank" > 能活400岁，世界超大型又长寿的乌龟——象龟 </a></h2>
      <div class="clear"></div>
      <div class="viewimg"> <a href="/funny/201406/92.html" title="能活400岁，世界超大型又长寿的乌龟——象龟" target="_ablank" class="ipic"> <img src="__INDEX__/img/b0eca01c6c6a5a54d3f303127883d9ff.jpg" alt="能活400岁，世界超大型又长寿的乌龟——象龟" class="thumbnail" /> <span class="shine">&nbsp;</span></a> </div>
      <div class="preview">       <br />
乌龟，大家见过不少，应该还有不少人将乌龟当作宠物养，不过我们见过的乌龟或者养的宠物龟都是小乌龟，没有太大个儿的，但实际上，乌龟也有挺大个儿的，今天阿里百秀小编倩儿就给大…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 2014-06-17 </span><span><i class="fa fa-comment-o"></i> <a href="/funny/201406/92.html#comments" class="ds-thread-count" data-thread-key="92">暂无评论</a> </span><span><i class="fa fa-eye"></i> 65 </span><span> <i class="fa fa-tags"></i></span><span class="more"><a href="/funny/201406/92.html" title="能活400岁，世界超大型又长寿的乌龟——象龟">阅读详情</a></span> </div>
    </div><div class="block">
      <h2><span class="category"> <a href="/funny/" rel="category tag" >奇·趣事</a> <i class="fa fa-caret-right"></i></span><a href="/funny/201406/99.html"  target="_ablank" > 有趣的玻璃树屋幼儿园，室内与室外完美融合 </a></h2>
      <div class="clear"></div>
      <div class="viewimg"> <a href="/funny/201406/99.html" title="有趣的玻璃树屋幼儿园，室内与室外完美融合" target="_ablank" class="ipic"> <img src="__INDEX__/img/6f97ca6c555babfafc61fa7d85e41442.jpg" alt="有趣的玻璃树屋幼儿园，室内与室外完美融合" class="thumbnail" /> <span class="shine">&nbsp;</span></a> </div>
      <div class="preview">       现在的孩子越来越宝贝了，所以幼儿园也越来越多了，普通的贵族的，公立的私立的，大的小的，各式各样都有，不过，大家见到的幼儿园室内与室外有明显分界线，今天阿里百秀的小编要给大家…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 2014-06-17 </span><span><i class="fa fa-comment-o"></i> <a href="/funny/201406/99.html#comments" class="ds-thread-count" data-thread-key="99">暂无评论</a> </span><span><i class="fa fa-eye"></i> 54 </span><span> <i class="fa fa-tags"></i></span><span class="more"><a href="/funny/201406/99.html" title="有趣的玻璃树屋幼儿园，室内与室外完美融合">阅读详情</a></span> </div>
    </div><div class="block">
      <h2><span class="category"> <a href="/funny/" rel="category tag" >奇·趣事</a> <i class="fa fa-caret-right"></i></span><a href="/funny/201406/97.html"  target="_ablank" > 3D立体素描，令人叹为观止 </a></h2>
      <div class="clear"></div>
      <div class="viewimg"> <a href="/funny/201406/97.html" title="3D立体素描，令人叹为观止" target="_ablank" class="ipic"> <img src="__INDEX__/img/27bab42aac4c6c0dfc4fa4fd262ad9ff.jpg" alt="3D立体素描，令人叹为观止" class="thumbnail" /> <span class="shine">&nbsp;</span></a> </div>
      <div class="preview">       随着社会科技的发展进步，3D技术被运用的越来越多了，比如电影、电视等，当然，一些艺术家们也纷纷创新，将传统的画术与现在的3D技术相结合，就创造出了3D画作。传统的画作只有平面…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 2014-06-17 </span><span><i class="fa fa-comment-o"></i> <a href="/funny/201406/97.html#comments" class="ds-thread-count" data-thread-key="97">暂无评论</a> </span><span><i class="fa fa-eye"></i> 62 </span><span> <i class="fa fa-tags"></i></span><span class="more"><a href="/funny/201406/97.html" title="3D立体素描，令人叹为观止">阅读详情</a></span> </div>
    </div><div class="block">
      <h2><span class="category"> <a href="/funny/" rel="category tag" >奇·趣事</a> <i class="fa fa-caret-right"></i></span><a href="/funny/201406/91.html"  target="_ablank" > 浪漫求婚书 让你求婚马到成功 </a></h2>
      <div class="clear"></div>
      <div class="viewimg"> <a href="/funny/201406/91.html" title="浪漫求婚书 让你求婚马到成功" target="_ablank" class="ipic"> <img src="__INDEX__/img/4631d42f0aeca5768f0bf6f55d1e2c1b.jpg" alt="浪漫求婚书 让你求婚马到成功" class="thumbnail" /> <span class="shine">&nbsp;</span></a> </div>
      <div class="preview">       爱情是如此美好，每个人都希望自己的爱情能有一个完美的结局，尤其是女孩儿，特别希望在两人感情最好的时候被求婚，一般在这个时候，如果有一场浪漫的求婚的话，女孩儿肯定会答应。…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 2014-06-17 </span><span><i class="fa fa-comment-o"></i> <a href="/funny/201406/91.html#comments" class="ds-thread-count" data-thread-key="91">暂无评论</a> </span><span><i class="fa fa-eye"></i> 98 </span><span> <i class="fa fa-tags"></i><a href='/e/tags/?tagname=%E8%AE%A9%E4%BD%A0' target='_blank' rel='tag'>让你</a></span><span class="more"><a href="/funny/201406/91.html" title="浪漫求婚书 让你求婚马到成功">阅读详情</a></span> </div>
    </div><div class="block">
      <h2><span class="category"> <a href="/funny/" rel="category tag" >奇·趣事</a> <i class="fa fa-caret-right"></i></span><a href="/funny/201406/95.html"  target="_ablank" > 法国男子与天鹅一起飞翔15年，被称为“鸟人” </a></h2>
      <div class="clear"></div>
      <div class="viewimg"> <a href="/funny/201406/95.html" title="法国男子与天鹅一起飞翔15年，被称为“鸟人”" target="_ablank" class="ipic"> <img src="__INDEX__/img/9a10b0d25e925d2049223e300ef4b901.jpg" alt="法国男子与天鹅一起飞翔15年，被称为“鸟人”" class="thumbnail" /> <span class="shine">&nbsp;</span></a> </div>
      <div class="preview">       虽然说现在社会中有一些虐待动物的残暴行为出现，但是多数人还是爱护和保护动物的，因为它们是人类的朋友，甚至有很多人还养有不少宠物。 动物也有自己的智慧和情感，可以与人…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 2014-06-17 </span><span><i class="fa fa-comment-o"></i> <a href="/funny/201406/95.html#comments" class="ds-thread-count" data-thread-key="95">暂无评论</a> </span><span><i class="fa fa-eye"></i> 64 </span><span> <i class="fa fa-tags"></i><a href='/e/tags/?tagname=15' target='_blank' rel='tag'>15</a></span><span class="more"><a href="/funny/201406/95.html" title="法国男子与天鹅一起飞翔15年，被称为“鸟人”">阅读详情</a></span> </div>
    </div><div class="block">
      <h2><span class="category"> <a href="/funny/" rel="category tag" >奇·趣事</a> <i class="fa fa-caret-right"></i></span><a href="/funny/201406/88.html"  target="_ablank" > 唇上艺术 那些水果唇妆有浓浓水果味儿呢 </a></h2>
      <div class="clear"></div>
      <div class="viewimg"> <a href="/funny/201406/88.html" title="唇上艺术 那些水果唇妆有浓浓水果味儿呢" target="_ablank" class="ipic"> <img src="__INDEX__/img/f7f6fef49c90bf002181efd92f104887.jpg" alt="唇上艺术 那些水果唇妆有浓浓水果味儿呢" class="thumbnail" /> <span class="shine">&nbsp;</span></a> </div>
      <div class="preview">       随着艺术的发展，现在的艺术有越来越多的形式，比如之前介绍过的3D画作、雕刻、一些食物组图以及一些摄影等等，不再单单指传统的画画、书法等艺术。随着社会的发展进步，艺术家…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 2014-06-17 </span><span><i class="fa fa-comment-o"></i> <a href="/funny/201406/88.html#comments" class="ds-thread-count" data-thread-key="88">暂无评论</a> </span><span><i class="fa fa-eye"></i> 74 </span><span> <i class="fa fa-tags"></i><a href='/e/tags/?tagname=%E5%91%B3%E5%84%BF' target='_blank' rel='tag'>味儿</a> / <a href='/e/tags/?tagname=%E5%94%87%E4%B8%8A' target='_blank' rel='tag'>唇上</a> / <a href='/e/tags/?tagname=%E5%94%87%E5%A6%86%E6%9C%89' target='_blank' rel='tag'>唇妆有</a></span><span class="more"><a href="/funny/201406/88.html" title="唇上艺术 那些水果唇妆有浓浓水果味儿呢">阅读详情</a></span> </div>
    </div>
    <div class='pagination'>&nbsp;<span class='current'>1</span>&nbsp;<a href="/funny/index_2.html">2</a>&nbsp;<a href="/funny/index_3.html">3</a><a href="/funny/index_2.html">下一页</a><a href="/funny/index_3.html">尾页</a></div>
  </div>
  <!--右侧栏-->
{include file="common/right"}
<div class="clear"></div>
<!--底部栏-->
{include file="common/footer"}
<script type="text/javascript">
var duoshuoQuery = {short_name:"ecms064"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
</body>
</html>